<% layout('layouts/boilerplate') %>

<div class="row">
	<div class="coll-6 offset-3">
		<div class="card" style="width: 18rem;">
			
  <img src="<%= campgroundSelected.image %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= campgroundSelected.title %> </h5>
    <p class="card-text"><%= campgroundSelected.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= campgroundSelected.location %></li>
	<li class="list-group-item">Created by: <%= campgroundSelected.author.username %></li>
    <li class="list-group-item">R$<%= campgroundSelected.price %> for night</li>
  </ul>
  <% if(currentUser && campgroundSelected.author.equals(currentUser._id)) { %>		
  <div class="card-body">
    <a href="/campgrounds/<%= campgroundSelected._id %>/edit" class="card-link btn btn-warning d-inline">Edit Campground</a>
	
	<form class="d-inline" action="/campgrounds/<%=campgroundSelected._id%>?_method=DELETE" method="POST">
    <button class="btn btn-danger">
		Delete
		</button>
	</form>
  </div>
  <% } %>	
			
</div>
		
	<div class="coll">
	<% if(currentUser){ %>
	 <h2>
		Leave a review!
	</h2>
	<form action="/campgrounds/<%= campgroundSelected._id %>/reviews" method="POST" class="formValidation" novalidate>
		<div class="mb-3">
			<labeL class="form-label" for="body"> Review: </labeL>
			<textarea class="form-control" id="body" name="review[body]" required></textarea>
			<label class="form-label" for="rating">Rating:</label>
			<input type="range" class="form-range" id="rating" min="1" max="5" name="review[rating]">
		</div>	
		<button class="btn btn-success">
			Submit your review!
		</button>
	</form>
	<% } %>
		<div class="col-6">
	  <div class="card-body">
			<div class="mb-3">
			<% for(let review of campgroundSelected.reviews){ %>
			  <h5 class="card-title">
				 Rating: <%= review.rating %> 
			  </h5>
				
			  <p class="card-text">
				Review: <%=review.body%>  
			  </p>
			  <h6 class="card-subtitle mb-2">
				Created by:  
				   <%= review.author.username %>
			  </h6>
			  <form action="/campgrounds/<%=campgroundSelected._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
		    <% if(currentUser && review.author.equals(currentUser._id)) { %>	
			 <button class="btn btn-sm btn-danger">
               DELETE
			 </button>	
			 </form>
		    <%}%>
		<%}%>	
		</div>
	</div>
		</div>
		
		
	</div>
</div>
	
</div>

     